* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  position: relative;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

p {
  font-size: 1.4em;
}

a {
  font-size: 1.2em;
}

/*
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
*/
.main {
  display: flex;
  flex-direction: column;
  padding: 2em 2em;
  background-color: #121b26;
  color: #73716e;
}
.main h4, .main h5 {
  font-weight: 300;
}
.main .form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 45em;
  margin-bottom: 4em;
}
.main .form__box {
  width: 30em;
}
.main .form__box__field {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}
.main .form__box__field label {
  font-size: 1.2em;
}
.main .form__box__field input {
  width: 15em;
  height: 2.5em;
  background-color: #a69f97;
  border: 2px solid #73716e;
}
.main .form__button {
  width: 10em;
  height: 3em;
  color: #a69f97;
  border: 2px solid #73716e;
  background-color: #273240;
  font-size: 1em;
  font-weight: 500;
}
.main__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 7em;
  height: 2em;
  color: #a69f97;
  background-color: #273240;
  border: 2px solid #73716e;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 500;
}