@import "globales.scss";

#Oculto
{
    display: none;
}

section.Menu {
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: $Color-azul;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;

    nav {
        padding: 20px;
        border: 3px solid $Color-gris;
        width: 250px;
        
        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
        
            li {
                background-color: $Color-gris;
                color: $Negro;
                padding: 20px;
                text-align: center;
                margin: 20px 0px;
                font-weight: bold;
                font-size: 20px;
                font-family: $fuente;
                a{
                    color: $Color-azul-claro;
                }
            }
        }
    }

    button.Regresar, button.OcultarMenu {
        background: #273240 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        text-align: center;
        width: 150;
        height: 33px;
        font-size: 20px;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $Color-gris;
        a{
            color: $Color-gris;
        }
    }
}