footer.footer
        span.footer__title Diginotaria 2020
        .socialMedia
            a(href="https://www.instagram.com/diginotaria.co/?hl=es-la").icon
                img(src="../IMG/instagram.svg", alt="")
            a(href="https://twitter.com/DigiNotaria").icon
                img(src="../IMG/gorjeo.svg", alt="")
            a(href="https://www.facebook.com/digi.notaria.1").icon
                img(src="../IMG/facebook.svg", alt="")
        //-     span.socialMedia__icon
        //-         img(src="", alt="")
        //-     span.socialMedia__icon
        //-         img(src="", alt="")
        //-     span.socialMedia__icon
        //-         img(src="", alt="")