footer.footer
        span.footer__title Diginotaria 2020
        .socialMedia
            span.socialMedia__title Vinculos redes sociales
        //-     span.socialMedia__icon
        //-         img(src="", alt="")
        //-     span.socialMedia__icon
        //-         img(src="", alt="")
        //-     span.socialMedia__icon
        //-         img(src="", alt="")