html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title DIGINOTARIA
        link(rel="stylesheet", href="../css/Galvis-Estilos.css")
    body
        main.BienvenidaFondo
            .BienvenidaOpacidad
            .BienvenidaContenido
                img.Logotipo(src="../IMG/Logo transparente.png", alt="")
                h1 ¡BIENVENIDO(A) AL APLICATIVO QUE HARA TU VIDA MAS SENCILLA Y COMODA! 

                h2 CON UNOS SIMPLES PASOS TENDRAS TODA LA INFORMACIÓN QUE NECESITES, A TU ALCANCE.
                button.Ingresar Ingresa al aplicativo web