html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Información personal  
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/estilos_settings.css")
        link(rel="stylesheet", href="../css/estilos_infoPersonal.css")
        link(rel="stylesheet", href="../CSS/Estilos_Recorrido.css")
    body
        include header.pug
        include Menu.pug

        section.Recorrido
            ul
                li 
                    a(href="./home.html") Inicio
                li
                    a(href="./perfil.html") Perfil
                li
                    a(href="./settings.html") Configuración 
                li
                    a(href="./info_personal.html") Información Personal

        main.main
            section.section1
                h3 Información personal
                br
                h4 General
                br
                h4 Nombre
                h5.blanco#Nombre Laura Monsalve Henao      
                span#CambiarNombre cambiar
            section.section2
                h3 Información de contacto
                br
                h4 Maneja tu información de contacto
                .celular
                    h4 Celular
                    h4.blanco#Celular 3104052415
                    span#CambiarCelular Cambiar
                .celular
                    h4 Teléfono
                    h4.blanco#Telefono 3452123
                    span#CambiarTelefono Cambiar

            section.section3
                h3 Forma de pago
                br
                h4 Métodos de pago
                a(href="./Pagos.html") Agregar tarjeta de crédito o débito 
                br
                br
                h4 Historia de pagos
                h4 -----------------
            a(href="settings.html").main__button Atrás

        include footer.pug
        script(src="../JS/settings_info_personal.js")
