html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title DigiNotaria
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/Galvis-Estilos.css")
    body
        section.MenuServicios
                nav
                    ul
                        li 
                            a(href="#") Quienes Somos
                        li 
                            a(href="#") Contactenos
                        
                button.regresar Atras