link(rel="stylesheet", href="../css/Menu-Lateral.css")

section.Menu#Oculto
    button.OcultarMenu Ocultar Menú
    nav
        ul
            li 
                a(href="./Servicios.html") Tramites y Servicios
            li 
                a(href="https://www.supernotariado.gov.co/portal&265.html", target="_blank") Tarifas
            li 
                a(href="./MenuDigiNotaria.html") DigiNotaria
    button.regresar 
        a(href="./home.html") Atras

script(src='../JS/Script.js')