link(rel="stylesheet", href="../css/Menu-Lateral.css")

section.Menu#Oculto
    button.OcultarMenu Ocultar Menú
    nav
        ul
            li Tramites y Servicios
            li Tarifas
            li DigiNotaria
    button.regresar Atras

script(src='../JS/Script.js')