html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Escrituración
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/Galvis-Estilos.css")
    body
        section.MenuEscrituracion
                h1.TituloQA Escrituración
                nav
                    ul
                        li
                            a(href='./ActualizacionDeNomenclatura.HTML') Actualización de nomenclatura.
                        li
                            a(href='./afectacion.html') Afectación a vivienda familiar.
                        li
                            a(href='./AUTORIZACIÓNPERMANENTEPARASALIDADELPAÍSDEUNMENORDEEDAD.HTML') Autorización permanente para la salida del país de un menor de edad.
                        li
                            a(href='./CambioDeNombre.HTML') Cambio de nombre.
                        li
                            a(href='./CancelacionALaAfectaciónDeVivivendaFamiliar.HTML') Cancelación a la afectación de vivienda familiar.
                        li
                            a(href='./CancelaciónDeHipoteca.HTML') Cancelación de hipoteca.
                        li
                            a(href='./CancelaciónPatrimonioFamiliar.HTML') Cancelación patrimonio de familia.
                        li
                            a(href='./CesionDeCuotas.HTML') Cesión de cuotas.
                        li
                            a(href='./Compraventa.HTML') Compraventa.
                        li
                            a(href='./ConstituciónDePatrimonioDeFamilia.HTML') Constitución el patrimonio de familia.
                        li
                            a(href='./ConstitucionDeSociedad.HTML') Constitución de sociedad.
                        li
                            a(href='./CorrecciónEnElRegistroCivil.HTML') Corrección en el registro civil.
                        li
                            a(href='./DisolucioDeSociedadComercial.HTML') Disolución de sociedad comercial.
                        li
                            a(href='./DisolucionYLiquidacionDeLaSociedadConyugal-HTML.HTML') Disolución y liquidación de la sociedad conyugal.
                        li
                            a(href='./Hipoteca.HTML') Hipoteca.
                        li
                            a(href='./InventarioSolemneDeBIenes.HTML') Inventario solemne de bienes.
                        li
                            a(href='./LiquidacionDeSociedadComercial.HTML') Liquidación de sociedad comercial.
                        li
                            a(href='./PoderGeneral.html') Poder general.
                        li
                            a(href='./ReconocimientoDeHijos.html') Reconocimiento de hijos.
                        li
                            a(href='./ReglamentoDePropiedadHorizontal.html') Reglamento de propiedad horizontal.
                        li
                            a(href='./ReformaAlReglamentoDePropiedadHorizontal.html') Reforma al reglamento de propiedad horizontal.
                        li
                            a(href='./ReformaDeEstatutos.html') Reforma de estatutos.
                        li
                            a(href='./TransformacionDeSociedadComercial.html') Transformación de sociedad comercial.
                        li
                            a(href='./Testamento.html') Testamento.
                
                button.regresar 
                    a(href="./Servicios.html") Atras