html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Recuperar contraseña
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/Galvis-Estilos.css")
    body
        main.RecuperarContrasena
            h1.TituloDiferente Recuperar contraseña
            h3 Correo con el que se encuentra registrado
            input(type="email", placeholder="Correo Electronico")
            h5 Se le enviará un enlace con el cual podrá restablecer su contraseña

            .botones
                button.aceptar Aceptar
                button.regresar 
                    a(href="./login.html") Atras

        include footer.pug