html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Registro Civil
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/Galvis-Estilos.css")
    body
        section.MenuServicios
                h1.TituloQA Registro Civil
                nav
                    ul
                        li 
                            a(href="./nacimiento.html") Nacimiento
                        li 
                            a(href="./matrimonios.html") Matrimonios
                        li 
                            a(href="./defunciones.html") Defunciones
                        
                button.regresar 
                    a(href="./Servicios.html") Atras