html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Control y Propiedad de Cuenta
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/Galvis-Estilos.css")

    body
        include header.pug
        include Menu.pug
        
        main.P3
            h2 Control y Propiedad de la cuenta
            section
                h3 Desactivación y eliminación
                p  Temporalmente desactiva o permanentemente borra tu cuenta.

            section
                h3 Desactivar Cuenta
                p  Desactivar tu cuenta puede ser temporal. Tu perfil se deshabilitará y tu nombre e información personal será eliminada

            section
                h3 Borrar Cuenta
                p  Borrar tu cuenta es permanente. Cuando elimines tu cuenta en diginotaria, no podrás recuperar el contenido e información guardada.

            button.regresar Atras

        include footer.pug