html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pago de Trámite
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/Galvis-Estilos.css")
    body
        include header.pug
        include Menu.pug

        main.Pagos
            h1.Titulo Pago de Trámite
            
            form.VentanaDePago

                h3 Adjuntar los archivos correspondientes a su tramite
                input(type="file", id="Archivos")

                label(for="MetodoPago") Número de Tarjeta de Credito
                input(type="number", placeholder="Ejemplo: XXXXXXXXXXXXXXXXX", id="NumTarjeta")
                span No poner "-" solo los números
                img(src="https://mushingpirineus.com/wp-content/uploads/2018/05/tarjetas-credito-logos.png", alt="Logo de Pagos")

                label(for="Mes") Mes de Caducidad
                select(name='Mes', id="Mes") 
                    option(value='Enero') Enero
                    option(value='Febrero') Febrero
                    option(value='Marzo') Marzo
                    option(value='Abril') Abril
                    option(value='Mayo') Mayo
                    option(value='Junio') Junio
                    option(value='Julio') Julio
                    option(value='Agosto') Agosto
                    option(value='Septiembre') Septiembre
                    option(value='Octubre') Octubre
                    option(value='Noviembre') Noviembre
                    option(value='Diciembre') Diciembre

                label(for="MetodoPago") Año de Caducidad
                input(type="number", placeholder="Año", id="Anio")

                label(for="MetodoPago") Dirección
                input(type="text", placeholder="Ejemplo: Cra 86B #56-87", id="Direccion")

                label(for="MetodoPago") Código Postal
                input(type="number", placeholder="Ejemplo: 3009", id="CodPostal")

                button.Pagar Pagar!

                section.OtrosMedios
                    h2 Otros Medios de Pago:
                    .LogosOtrosMedios
                        a(href="https://www.pse.com.co/persona")
                            img(src="https://www.homecenter.com.co/static/landing/PSE/img/PSE.png", alt="PSE")
                        a(href="https://www.paypal.com/co/webapps/mpp/home?kid=p19118149533&gclid=CjwKCAiA_Kz-BRAJEiwAhJNY73XeuB0FwoKO1XgbqDic7KpSaG4KW8-59SUvdY9D_pkd4x1MS9troxoCvW0QAvD_BwE&gclsrc=aw.ds")
                            img(src="https://logos-marcas.com/wp-content/uploads/2020/04/PayPal-Logo.png", alt="PayPal")
                        a(href="https://www.mercadopago.com.co/home")
                            img(src="https://www.tarjetacliper.com/fyadmin/api/public/uploads/1589824324_logo_mercadopago.png", alt="Mercado Pago")
                        a(href="https://www.gana.com.co/")
                            img(src="https://ayuda.tigo.com.co/hc/article_attachments/360069712053/gana.png", alt="Gana")
                        a(href="https://www.efecty.com.co/web/")
                            img(src="https://feelinglucky.co/wp-content/uploads/efecty-logo.png", alt="Efecty")

            button.regresar 
                a(href="./Servicios.html") Atras
        section.ModalPagoExitoso.Oculto
            h1 Pago Exitoso!

        include footer.pug
        script(src="../JS/pagos.js")