html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Perfil
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/estilos_perfil.css")
        link(rel="stylesheet", href="../CSS/Estilos_Recorrido.css")
    body
        header.header
            span.header__button
                img.Btn_Menu(src="../IMG/menu.svg", alt="")
            img.header__image(src="../IMG/Logo transparente.png", alt="")
            .header__links
                a(href="login.html") Cerrar Sesión
                form(action="home.html", method="get")#form
                    input(type="submit" value="Ir a la página principal"  id="botonNombrePersona") 
                    input(type="hidden" name="nombre")#nombrePersona
        include Menu.pug

        section.Recorrido
            ul
                li 
                    a(href="./home.html") Inicio
                li
                    a(href="./perfil.html") Perfil

        .hero
        main.main
            section.photoMenu
                .photo
                    img(src="../IMG/profile.jpg", alt="")
                .menu
                    a(href="./info_personal.html") Información personal
                    a(href="") Tramites pendientes
                    a(href="settings.html") Configuración
            section.info
                h2.info__title Información personal
                .info__box
                    h4.label Nombre Completo:
                    h4(id="nombre").input 
                .info__box
                    h4.label Tipo documento:
                    h4(id="tipo").input 
                .info__box
                    h4.label Número documento:
                    h4(id="numdoc").input 
                .info__box
                    h4.label Fecha de nacimiento:
                    h4(id="fecha").input 
                .info__box
                    h4.label Departamento de nacimiento:
                    h4(id="deptonac").input 
                .info__box
                    h4.label Municipio de nacimiento:
                    h4(id="munnac").input 
                .info__box
                    h4.label Departamento de residencia:
                    h4(id="deptores").input 
                .info__box
                    h4.label Municipio de residencia:
                    h4(id="munres").input 
                .info__box
                    h4.label Notaria en que registra:
                    h4(id="notaria").input 
                .info__box
                    h4.label Dirección:
                    h4(id="direccion").input 
                .info__box
                    h4.label Número de teléfono:
                    h4(id="telefono").input 
                .info__box
                    h4.label Número de celular:
                    h4(id="celular").input 

        include footer.pug
        script(src="../JS/registro.js")
