html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Diginotaria
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/estilos_tramitesTotales.css")
    body
        include header.pug
        include Menu.pug
        main.main
            h2.main__title Diginotaria <hr>
            h3 Misión
            br
            br
            p Nuestro aplicativo web busca la digitalización y automatización de los diferentes servicios y tramites que ofrecen las notarias de Colombia facilitando el acceso para los usuarios para que puedan hacerlo desde la comodidad de su hogar evitando largos trayectos y aglomeraciones innecesarias, además el aplicativo busca una reforma total a los espacios físicos para hacerlos mas accesibles para aquellos tramites que requieren de una presencialidad absoluta. Buscamos mirar hacia una nueva era.
            br
            br
            br
            h3 Visión
            br
            br
            p En el 2025 DIGINOTARIA se posicionará como el aplicativo más importante de Colombia para las notarías, con una de las propuestas mas innovadoras en materia tecnológica y digital para el progreso del país y que continuará brindado comodidad, facilidad y seguridad a los usuario(a)s que utilicen el aplicativo.
            .links
                a(href="MenuDigiNotaria.html").links__button Atrás
            span.atention Atención al usuario

        include footer.pug
