html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/estilos_registro.css")

    body
        main.main
            form.login
                button.login__button Registro
                .login__box    
                    label(for="").login__label Nombre*
                    input(type="text").login__input
                .login__box    
                    label(for="").login__label Primer apellido*
                    input(type="text").login__input
                .login__box    
                    label(for="").login__label Segundo apellido*
                    input(type="text").login__input
                .login__box    
                    label(for="").login__label Tipo identificación*
                    input(type="text").login__input
                .login__box    
                    label(for="").login__label Número identificación*
                    input(type="text").login__input
                .login__box    
                    label(for="").login__label Departamento de residencia*
                    input(type="text").login__input
                .login__box    
                    label(for="").login__label Ciudad de residencia*
                    input(type="text").login__input
                .login__box    
                    label(for="").login__label Número notaria en la que registra*   
                    input(type="text").login__input
                .login__box    
                    label(for="").login__label Número fijo
                    input(type="text").login__input
                .login__box    
                    label(for="").login__label Número celular*
                    input(type="text").login__input
                .login__box    
                    label(for="").login__label Correo*
                    input(type="text").login__input
                .login__box    
                    label(for="").login__label Contraseña*
                    input(type="text").login__input
                .login__box    
                    label(for="").login__label Confirmar contraseña*
                    input(type="text").login__input
                
        include footer.pug
