html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/Galvis-Estilos.css")
    body
        section.MenuServicios
                h1.TituloQA SERVICIOS
                nav
                    ul
                        li 
                            a(href="./Pagina26.html") Escrituración
                        li 
                            a(href="./Pagina19.html") Registro Civil
                        li 
                            a(href="#") Matrimonios
                        li 
                            a(href="./divorcios.html") Divorcios
                        li 
                            a(href="#") Remates
                        li 
                            a(href="#") Conciliaciones
                        li 
                            a(href="#") Autenticaciones
                        li 
                            a(href="#") Declaraciones
                        li 
                            a(href="#") Extrajuicios
                button.regresar Atras