html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/Galvis-Estilos.css")
    body
        section.MenuServicios
                h1.TituloQA SERVICIOS
                nav
                    ul
                        li
                            a(href='./Pagina26.html') Escrituración
                        li
                            a(href='./Pagina19.html') Registro Civil
                        li
                            a(href='./matrimonios.html') Matrimonios
                        li
                            a(href='./divorcios.html') Divorcios
                        li
                            a(href='./Remates.html') Remates
                        li
                            a(href='../Documentos/TarifasConciliacion.doc') Conciliaciones
                        li
                            a(href='./Autenticaciones.html') Autenticaciones
                        li
                            a(href) Declaraciones
                        li
                            a(href='./DeclaraciónExtrajuicios.html') Extrajuicios
                button.regresar 
                    a(href="./home.html") Atras