html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Configuración
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/estilos_settings.css")
    body
        include header.pug
        include Menu.pug
        main.main
            section.section1
                h3 Configuración
                h5 Maneja tu información, tus pagos y tu cuenta en general.
                br
                a(href="info_personal.html") Información personal
                span Actualiza tu nombre, numeros de teléfonos y direcciones de correo electrónico
                br
                a(href="") Forma de pago
                span Maneja tu configuración de pagos, ve tu historia de pagos.
            section.section2
                h3 Seguridad
                h5 Cambia tu contraseña y toma otras acciones para añadir más seguridad a tu cuenta.
                br
                br
                a(href="") Seguridad y acceso
                span Cambia tu contraseña y toma otras acciones para añadir más seguridad a tu cuenta.

            section.section3
                h3 Tu información de Diginotaria
                br
                br
                a(href="") Control y propiedad de la cuenta 
                span Desactiva o elimina tu cuenta.
        
            a(href="").main__button Atrás

        include footer.pug
