html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Tarifas
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/estilos_tramitesTotales.css")
    body
        include header.pug
        main.main
            h2.main__title Tarifas <hr>
            h3 Registro civil
            br
            br
            p El valor de las copias y certificados de registros civiles tienen un costo de $5.650 pesos, según El artículo 45 de la resolución 11439 de 2011 de la Superintendencia de Notariado y Registro.
            .links
                a(href="").links__button Atrás
            span.atention Atención al usuario

        include footer.pug
